<label for="@Purpose">@Label</label>
<input type="text" id="@Id" name="@Name" placeholder="@Placeholder" />
@if (!string.IsNullOrEmpty(Small))
{
    <small>@Small</small>
}

@code {
    [Parameter] public string Purpose { get; set; } = "";
    [Parameter] public string Label { get; set; } = "";
    [Parameter] public string Placeholder { get; set; } = "";
    [Parameter] public string Id { get; set; } = "";
    [Parameter] public string Name { get; set; } = "";
    [Parameter] public string Small { get; set; } = "";
}
